@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*LIGHT THEME*/
/*:root {
  --primary-bg: #0f172a; 
  --accent-green: #10b981;
  --text-white: #f8fafc;
  --text-gray: #94a3b8;
}
body {
  background-color: var(--primary-bg);
  color: var(--text-white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* DARK THEME
:root {
  --bg-color: #ffffff;
  --text-main: #0f172a;
  --text-secondary: #64748b;
  --primary-brand: #0f172a;
  --accent-green: #10b981;
  --border-light: #e2e8f0;
  --surface-light: #f8fafc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}*/

/*OPTIONAL THEME*/
:root {
  --bg-soft: #f9fafb;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --glass-bg: rgba(255, 255, 255, 0.4);
  --glass-border: rgba(255, 255, 255, 0.8);
  --accent-soft: #10b981;
}

body {
  background-color: var(--bg-soft);
  color: var(--text-main);
  font-family: "Iceland", sans-serif;
}
