<nav class="navbar navbar-expand-lg py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <!--<div class="logo-box">
        <i class="bi bi-shield-lock-fill"></i>
      </div>-->
      <span class="brand-name">Internon</span>
    </a>

    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-4">
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">Hizmetlerimiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">Kurumsal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">Yetkinliklerimiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="#">İletişim</a>
        </li>
      </ul>
    </div>

    <div class="d-none d-lg-block">
      <a href="#" class="btn btn-custom-cta d-flex align-items-center gap-2">
        <img
          src="assets/dashboard-mockup.png"
          alt="logo"
          width="20"
          height="20"
          class="btn-icon"
        />
        Verilerinizin güvenliği için hizmet alın
      </a>
    </div>
  </div>
</nav>
